<a href="https://colab.research.google.com/github/Zeinayyy/Citizen_Feedback_App/blob/main/preprocessing_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import re
import string
import csv
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from keras.preprocessing.text import Tokenizer

In [2]:
!pip install Sastrawi
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory
from wordcloud import WordCloud

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting Sastrawi
  Downloading Sastrawi-1.0.1-py2.py3-none-any.whl (209 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 209.7/209.7 kB 8.9 MB/s eta 0:00:00
Installing collected packages: Sastrawi
Successfully installed Sastrawi-1.0.1

In [3]:
import nltk
from nltk.tokenize import word_tokenize
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [148]:
df = pd.ExcelFile("dataset_merged.xlsx").parse()

In [149]:
df.head(2)

,created_at,id,id_str,full_text,quote_count,reply_count,retweet_count,favorite_count,geo,lang,user_id_str,conversation_id,conversation_id_str,media_url_https,media_type,username,Unnamed: 16,Unnamed: 17
0,Mon May 15 11:22:33 +0000 2023,1658070357826490112,1658070357826490112,@detikcom Saat kota yang lain sibuk berlomba a...,0,0,0,1,NaN,in,1124966023097080064,1658042035645929984,1658042035645929984,NaN,NaN,jalan_yuuk,NaN,NaN
1,Mon May 15 11:43:48 +0000 2023,1658075703882170112,1658075703882170112,"@think_tank_id @Dandhy_Laksono lol tolol, lu ...",0,0,0,0,NaN,in,133157248,1657544329018380032,1657544329018380032,NaN,NaN,zeronol0,NaN,NaN

In [150]:
df = df[['created_at', 'id', 'full_text', 'reply_count', 'retweet_count', 'favorite_count', 'username', ]]

In [151]:
df

,created_at,id,full_text,reply_count,retweet_count,favorite_count,username
0,Mon May 15 11:22:33 +0000 2023,1658070357826490112,@detikcom Saat kota yang lain sibuk berlomba a...,0,0,1,jalan_yuuk
1,Mon May 15 11:43:48 +0000 2023,1658075703882170112,"@think_tank_id @Dandhy_Laksono lol tolol, lu ...",0,0,0,zeronol0
2,Mon May 15 11:07:11 +0000 2023,1658066490258769920,"@jokowi @jokowi di merauke minyak tanah susah,...",0,0,0,PA_5060_AS
3,Mon May 15 11:00:55 +0000 2023,1658064915532480000,"Polres PPU Polda Kaltim - Wujud Kepedulian, Po...",0,0,1,bagrenresppu
4,Mon May 15 11:15:36 +0000 2023,1658068608453410048,"Traffic Light Rusak, Jalan Borong Raya-Batua R...",0,0,0,raksulonline
...,...,...,...,...,...,...,...
3866,Sun Nov 27 06:16:00 +0000 2022,1596749661821280000,yaelah wargaðŸ˜¢ðŸ˜¢ https://t.co/2421r3esOn,131,255,1012,txtdrjkt
3867,Sun Nov 27 10:52:33 +0000 2022,1596819259673299968,"@KompasTV Ternyata, cuma menyisakan sampah dim...",1,0,2,SupratmanAndang
3868,Mon Nov 28 03:23:42 +0000 2022,1597068690335620096,@Dara_Cega Kasihan masyarakat dibodohi dibayar...,0,0,0,BKoentjahya
3869,Mon Nov 28 01:58:09 +0000 2022,1597047161245819904,@UdinBagol81 @matjan51670210 @Rasambahyar1 @se...,0,0,0,freensapalocha
3870,_x001A_,NaN,NaN,NaN,NaN,NaN,NaN

In [152]:
def cleanText(text):
  text = re.sub(r'#[A-Za-z0-9]+', '', str(text)) #remove hashtag
  text = re.sub(r'@[A-Za-z0-9]+', '', str(text)) #remove mentions
  text = re.sub(r"http\S+", '', str(text)) #remove links/url
  text = re.sub(r'RT[\s]', '', str(text)) #remove RT
  text = re.sub(r'[0-9]+', '', str(text)) #remove number
  text = text.replace('\n', ' ') #replace new line into space
  text = text.translate(str.maketrans('', '', string.punctuation)) #remove punctuation
  text = text.strip('  ') #remove character space
  return text

In [153]:
def lowercase(text):
  text = text.lower()
  return text

In [154]:
def tokenizerText(text):
  text = word_tokenize(text)
  return text

In [155]:
def filteringText(text):
  listStopwords = set(stopwords.words('indonesian'))
  filtered = []
  for txt in text:
    if txt not in listStopwords:
      filtered.append(txt)
  text = filtered
  return text

In [157]:
df['clean_text'] = df['full_text'].apply(cleanText)

In [158]:
df['clean_text'] = df['clean_text'].apply(lowercase)

In [159]:
df.drop(['full_text'], axis = 1, inplace = True)

In [160]:
df['preprocessed_text'] = df['clean_text'].apply(tokenizerText)

In [161]:
df['preprocessed_text'] = df['preprocessed_text'].apply(filteringText)

In [163]:
df.drop_duplicates(subset = 'clean_text', inplace = True)

In [164]:
save_df = df.to_csv("dataset_merged_clean.csv", index=False, header=True, index_label=None)

In [165]:
df.head(5)

,created_at,id,reply_count,retweet_count,favorite_count,username,clean_text,preprocessed_text
0,Mon May 15 11:22:33 +0000 2023,1658070357826490112,0,0,1,jalan_yuuk,saat kota yang lain sibuk berlomba agar wisata...,"[kota, sibuk, berlomba, wisatawan, kotanya, im..."
1,Mon May 15 11:43:48 +0000 2023,1658075703882170112,0,0,0,zeronol0,tankid laksono lol tolol lu pikir keren gitu ...,"[tankid, laksono, lol, tolol, lu, pikir, keren..."
2,Mon May 15 11:07:11 +0000 2023,1658066490258769920,0,0,0,PA_5060_AS,di merauke minyak tanah susah selain jalan jug...,"[merauke, minyak, tanah, susah, jalan, rusak, ..."
3,Mon May 15 11:00:55 +0000 2023,1658064915532480000,0,0,1,bagrenresppu,polres ppu polda kaltim wujud kepedulian pols...,"[polres, ppu, polda, kaltim, wujud, kepedulian..."
4,Mon May 15 11:15:36 +0000 2023,1658068608453410048,0,0,0,raksulonline,traffic light rusak jalan borong rayabatua ray...,"[traffic, light, rusak, jalan, borong, rayabat..."

In [166]:
lexicon = pd.read_csv('positive.tsv', sep='\t')

In [167]:
lexicon_positive = dict()
with open('positive.tsv', 'r') as file:
  reader = csv.reader(file, delimiter='\t')
  for row in reader:
    lexicon_positive[row[0]] = row[1]

In [168]:
lexicon_negative = dict()
with open('negative.tsv', 'r') as file:
  reader = csv.reader(file, delimiter='\t')
  for row in reader:
    lexicon_negative[row[0]] = row[1]

In [169]:
def sentiment_analysis(text):
  score = 0
  for word in text:
    if (word in lexicon_positive):
      score = score + int(lexicon_positive[word])
  for word in text:
    if (word in lexicon_negative):
      score = score + int(lexicon_negative[word])
  polarity = ''
  if (score > 0):
    polarity = 'positive'
  elif ((score >= -10) & (score < 0)):
    polarity = 'negative'
  elif(score < -10):
    polarity = 'urgent'
  else:
    polarity = 'neutral'
  return score, polarity

In [170]:
first_key = next(iter(lexicon_positive))
del lexicon_positive[first_key]

In [171]:
first_keyy = next(iter(lexicon_negative))
del lexicon_negative[first_keyy]

In [172]:
results = df['preprocessed_text'].apply(sentiment_analysis)
results = list(zip(*results))
df['polarity_score'] = results[0]
df['polarity'] = results[1]
print(df['polarity'].value_counts())

negative    1738
positive    1019
urgent       491
neutral      375
Name: polarity, dtype: int64

In [173]:
df.to_csv('data_polarity.csv', index=False, header=True)